<%- include('partials/header') %>
<div class="details bottomanim">
    <h5 class="author">Author</h5>
    <h5 class="uploaded">Uploaded on</h5>
    <a href="<%= `/account/user/${blog.user._id}` %>"><h4><%= blog.user.username %></h4></a>
    <h4 class="date"><%=blog.date  %></h4>
</div>
<h2 style="word-break: break-all; overflow-y: auto;"  id="blog-title"><%= blog.title %></h2>

<script>
    let blog = '<%-JSON.stringify(blog)%>'

</script>


<%- include('partials/footer') %>
<script src="/public/js/makeblog.js"></script>